{% load static %}
<header class="container-fluid back-image" style="background-image: url({% static 'BenignDevApp/images/pexels-lukas-574070.jpg' %});">
    <div class="text-center" style="padding-top: 220px;">
      <h1 class="text-uppercase text-success fw-bold st">Welcome to Benign Developers</h1>
      <h5 class="fst-italic st text-success fw-bold mb-5">Build Your Dream</h5>
      <a href="#contact" class="btn btn-outline-success me-4">Hire Us</a>
      <a href="#" class="btn btn-outline-success">Join Us</a>
    </div>
  </header>