<div class="container text-center" id="technology">
    <h2 class="pt-5 pb-3">The Technologies We Use</h2>
    <div class="row mb-4">
        <div class="col-sm-3">
            <ul style="list-style-type: none; font-weight: bold; font-size: 20px; color: rgb(4, 153, 153);">
                <li>Django</li>
                <li>Django Rest Framework</li>
                <li>React JS</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul style="list-style-type: none; font-weight: bold; font-size: 20px; color: rgb(4, 153, 153);">
                <li>Postman</li>
                <li>Keras</li>
                <li>Python</li>
            </ul>
        </div>
    <div class="col-sm-3">
        <ul style="list-style-type: none; font-weight: bold; font-size: 20px; color: rgb(4, 153, 153);">
            <li>MySql</li>
            <li>Postgre Sql</li>
            <li>scikit-learn</li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul style="list-style-type: none; font-weight: bold; font-size: 20px; color: rgb(4, 153, 153);">
            <li>TensorFlow</li>
            <li>Bootstrap</li>
            <li>pandas</li>
        </ul>
    </div>
</div>
</div>